.venv/
venv/
# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Secrets & Config
credentials.enc
.secret.key
.session.enc
logs/
orgs/
.app.pid
*.pid
*.log
.genesys_logged_out
.dm_disabled
.streamlit/secrets.toml
users.json
dashboard_config.json
presets.json
json
